* {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
}

h1 {
  text-align: center;
}

.container {
  max-width: 100%;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.btn-container {
  justify-content: center;
}

.modal-background::before {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  bottom: 0;
}

.modal-box {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
