body {
  margin: auto;
  padding: 0;
  background-color: pink;
  font-family: "Space Mono", monospace;
}

h1,
h2 {
  text-align: center;
}

table {
  border: solid;
  width: 80%;
  margin: 0 auto;
}

thead {
  color: white;
  background-color: black;
}

tbody tr:nth-child(odd) {
  background-color: rgb(172, 44, 66);
  color: white;
}

tbody tr:nth-child(even) {
  background-color: rgb(235, 208, 212);
  color: rgb(182, 67, 67);
}

.week {
  border: 2px solid black;
  padding: 1rem;
  margin: 2rem;
  text-align: center;
}

.add-entry {
  background-color: yellow;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 5px 5px hotpink;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  bottom: 0;
}

.modal-box {
  background-image: url("https://www.verywellhealth.com/thmb/OR1PMG_pIYnSf8A90Dww_v_VIIM=/1500x1000/filters:no_upscale():max_bytes(150000):strip_icc()/safety-and-side-effects-of-pepto-bismol-for-ibs-4128810_V3-a30625fab64a44c88cec00db7a06542c.png");
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 0 30px 30px;
  border-radius: 0.25rem;
}

.description {
  width: 100%;
  height: 10vh;
  margin-top: 0.5rem;
}

.submit {
  float: right;
  margin-top: 0.5rem;
}
